body {
}

#beranda {
	padding-top: 5rem;
	padding-bottom: 2rem;
	min-height: 500px;
}

#footer {
	background-color: #00c1ed;
	min-height: 220px;
}

footer {
	background-color: #00c1ed;
}

section {
	padding-top: 4rem;
}
